<!DOCTYPE html>
<html class="html">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="{{ asset('front/assets/imgs/faviconBP.png') }}" />

    <title>{% block title %}Bon Plan{% endblock %}</title>

    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
    <!-- inject:css -->
    <link rel="stylesheet" href="{{ asset('front/assets/vendor/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('front/assets/vendor/bootsnav/css/bootsnav.css') }}">
    <link rel="stylesheet" href="{{ asset('front/assets/vendor/font-awesome/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('front/assets/vendor/custom-icon/css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('front/assets/vendor/owl.carousel2/owl.carousel.min.css') }}">
    <link rel="stylesheet" href="{{ asset('front/assets/vendor/magnific-popup/magnific-popup.css') }}">
    <link rel="stylesheet" href="{{ asset('front/assets/vendor/animate.css/animate.min.css') }}">
    <link rel="stylesheet" href="{{ asset('front/assets/vendor/swiper/css/swiper.min.css') }}">
    <link rel="stylesheet" href="{{ asset('front/assets/css/main.min.css') }}">
    <!-- endinject -->

    <style>
        .slidecontainer {
            width: 100%;
        }

        .slider {
            -webkit-appearance: none;
            width: 100%;
            height: 15px;
            border-radius: 5px;
            background: #d3d3d3;
            outline: none;
            opacity: 0.7;
            -webkit-transition: .2s;
            transition: opacity .2s;
        }

        .slider:hover {
            opacity: 1;
        }

        .slider::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            width: 25px;
            height: 25px;
            border-radius: 50%;
            background: #FA0048;
            cursor: pointer;
        }

        .slider::-moz-range-thumb {
            width: 25px;
            height: 25px;
            border-radius: 50%;
            background: #4CAF50;
            cursor: pointer;
        }
    </style>

</head>
<body>

<!--header start-->
<header id="header" class="Sticky">
    <!-- Start Navigation -->
    <nav class="navbar navbar-default navbar-fixed no-background bootsnav">

        <div class="container">
            <!-- Start Atribute Navigation -->
            <div class="attr-nav">
                <ul>

                    <li style="left: 100px" class="buy-btn hidden-xs hidden-sm"><a href="#">
                            <span class="btn btn-sm btn-primary n-MarginTop5 text-uppercase">

                                Se connecter via Facebook <i class="fa fa-facebook-official" style="font-size:15px;color:white"></i>
                        </span></a></li>

                </ul>
            </div>
            <!-- End Atribute Navigation -->

            <!-- Start Header Navigation -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="home">
                    <img src="{{ asset('front/assets/imgs/logo1.png') }}" class="logo logo-display" alt="">
                    <img src="{{ asset('front/assets/imgs/logo2.png') }}" class="logo logo-scrolled" alt="">
                </a>
            </div>
            <!-- End Header Navigation -->

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-menu">
                <ul class="nav navbar-nav navbar-right" data-in="" data-out="">
                    <li class="dropdown">
                        <a href="home"  >Accueil</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" >Que cherchez vous?</a>
                        <ul class="dropdown-menu">
                            <li><a href="resultat">Soirée</a></li>
                            <li><a href="resultat">Randonnée</a></li>
                            <li><a href="resultat">Cinémas</a></li>
                            <li><a href="resultat">Salon de Thé</a></li>
                            <li><a href="resultat">Restaurants</a></li>
                            <li><a href="resultat">HÔTELS</a></li>
                            <li><a href="resultat">Promos Disponibles</a></li>

                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="" >Contact</a>
                    </li>
                    <li class="dropdown">
                        <a href="inscriClient" >s'inscrire</a>
                    </li>
                    <li class="dropdown">
                        <a href="inscriEntreprise" > partenaire</a>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div>


    </nav>
    <!-- End Navigation -->
    <div class="clearfix"></div>
</header>
<!--header end-->



{% block content %}


{% endblock %}


<!-- contact end-->
<!--footer start-->
<footer class="bg-darker u-PaddingTop100 u-sm-PaddingTop30 u-PaddingBottom100 u-sm-PaddingBottom30 ">
    <div class="container text-center text-sm">
        <img class="retina u-MarginBottom50 u-sm-MarginBottom30" src="assets/imgs/logo-light.png" alt="">
        <div class="social-links sl-default light-link solid-link circle-link colored-hover">
            <a href="#" class="facebook">
                <i class="fa fa-facebook"></i>
            </a>
            <a href="#" class="twitter">
                <i class="fa fa-twitter"></i>
            </a>
            <a href="#" class="g-plus">
                <i class="fa fa-google-plus"></i>
            </a>
            <a href="#" class="youtube">
                <i class="fa fa-youtube"></i>
            </a>
            <a href="#" class="dribbble">
                <i class="fa fa-dribbble"></i>
            </a>
            <a href="#" class="behance">
                <i class="fa fa-behance"></i>
            </a>
        </div>
        <p class="u-MarginBottom5 u-MarginTop20">Copyright 2018 DEVLAB </p>
    </div>
</footer>
<!--footer end-->


<!-- inject:js -->
<script src="{{ asset('front/assets/vendor/jquery/jquery-1.12.0.min.js') }}"></script>
<script src="{{ asset('front/assets/vendor/bootstrap/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('front/assets/vendor/bootsnav/js/bootsnav.js') }}"></script>
<script src="{{asset ('front/assets/vendor/waypoints/jquery.waypoints.min.js') }}"></script>
<script src="{{ asset('front/assets/vendor/waypoints/sticky.min.js')}}"></script>
<script src="{{ asset('front/assets/vendor/headroom/headroom.min.js') }}"></script>
<script src="{{ asset('front/assets/vendor/jquery.countTo/jquery.countTo.min.js') }}"></script>
<script src="{{ asset('front/assets/vendor/owl.carousel2/owl.carousel.min.js') }}"></script>
<script src="{{ asset('front/assets/vendor/jquery.appear/jquery.appear.js') }}"></script>
<script src="{{ asset('front/assets/vendor/isotope/isotope.pkgd.min.js') }}"></script>
<script src="{{ asset('front/assets/vendor/imagesloaded/imagesloaded.js') }}"></script>
<script src="{{ asset('front/assets/vendor/magnific-popup/jquery.magnific-popup.min.js') }}"></script>
<script src="{{ asset('front/assets/vendor/jquery.countdown.min.js') }}"></script>
<script src="{{ asset('front/assets/vendor/swiper/js/swiper.min.js') }}"></script>
<script src="{{ asset('front/assets/js/main.js') }}"></script>
<!-- endinject -->

<!-- contact form -->
<script src="{{ asset('front/assets/vendor/bootstrap-validator/validator.min.js') }}"></script>
<script src="{{ asset('front/assets/build/js/mailer.js') }}"></script>
<script>
    var slider = document.getElementById("myRange");
    var output = document.getElementById("demo");
    output.innerHTML = slider.value;

    slider.oninput = function() {
        output.innerHTML = this.value;
    }
</script>
</body>

</html>